<ion-view view-title="Booking" id="tab-dash">
  <ion-content style="background-color: #f8f8f8;">
    <ks-swiper-container initial-slide="1" speed="2000" loop="true" pagination-is-active="true" pagination-clickable="false" autoplay="2000">
        <ks-swiper-slide class="swiper-slide" ng-repeat="s in [1,2,3]">
            <img ng-src="img/unsplash{{s}}.png" width="20%">
        </ks-swiper-slide>
    </ks-swiper-container>
    <div class="button-bar" style="padding-left: 10px; padding-right: 10px;">
      <a class="button icon-left ion-location" href="#/tab/dash/venue">Search Venue</a>
      <a class="button">Sample</a>
    </div>
  </ion-content>
</ion-view>