/* Empty. Add your own CSS if you like */
.item-select {
    /*width: 100%;*/
    height: 50px;
}
.input-calendar {
    height: 50px;
}
.button {
    background-color: #ebebeb;
}
.ionic_datepicker_modal .header, .ionic_datepicker_modal .footer {
   background-color: #387ef5 !important;
}
.ionic_datepicker_modal .selected_date {
  background-color: #387ef5 !important;
}
.fit-thumbnail {
    object-fit : cover;
}